<div id="footer">
	<table width="991">
		<tr>
			<td text-align="left">
				<!-- puls.lv START //-->
				<SCRIPT type="text/javascript">var _puls_counter_loaded = false;</SCRIPT>
				<SCRIPT src="http://hits.puls.lv/?sid=26646&js=1" type="text/javascript"></SCRIPT>
				<SCRIPT type="text/javascript">
				<!--
				if( _puls_counter_loaded ){_puls_counter(26646);}
				//--></SCRIPT>
				<noscript>
				<a href="http://puls.lv/" target="_blank"><img src="http://hits.puls.lv/?sid=26646&jsver=0" border=0 alt="PULS.LV Professional rating system"></a>
				</noscript>
				<!-- puls.lv END //-->
			</td>
			<td text-align="right">
				<span class="follow"><%= t "footer.follow" %></span>
				<%= link_to image_tag('draugiem.png', :mouseover => 'draugiem-hover.png'), 'http://www.draugiem.lv/group/18433840/apavu-somu-un-apgerbu-veikals-paris/', :target => "_blank" %>
				<%= link_to image_tag('facebook.png', :mouseover => 'facebook-hover.png'), 'https://www.facebook.com/pages/Veikals-PÄris/530037847069944', :target => "_blank" %>
				<%= link_to image_tag('twitter.png', :mouseover => 'twitter-hover.png'), 'https://twitter.com/VeikalsParis', :class => 'margin', :target => "_blank" %>  
			</td>
		</tr>
	</table>
	
</div>	