<div id="footer">
	<span class="follow"><%= t "footer.follow" %></span>
	<%= link_to image_tag('draugiem.png', :mouseover => 'draugiem-hover.png'), 'http://www.draugiem.lv/group/18433840/apavu-somu-un-apgerbu-veikals-paris/', :target => "_blank" %>
	<%= link_to image_tag('facebook.png', :mouseover => 'facebook-hover.png'), 'https://www.facebook.com/pages/Veikals-PÄris/530037847069944', :target => "_blank" %>
	<%= link_to image_tag('twitter.png', :mouseover => 'twitter-hover.png'), 'https://twitter.com/VeikalsParis', :class => 'margin', :target => "_blank" %>  
</div>	