<div id="admin_navbar">
	<ul>
			<li><%= link_to "Specials", admin_specials_path %></li>
	<!--	<li><%= link_to "Offers", admin_offers_path %></li> -->
			<li><%= link_to "Stores", admin_stores_path %></li>
			<li><%= link_to "Users", admin_users_path %></li>

</ul>
</div>